fieldset.form-wrapper .fieldset-wrapper {
  padding-top: 20px;
}

#person-directory-form td {
  vertical-align: top;
  padding: 15px !important;
}

.page-node-edit .tabs {
  display: none;
}

.page-user-password div.tabs {
  display: none !important;
} 

.page-staff-safe-training table * {
  font-weight: bold;
    color: black !important;
}

#navigation ul li a {
    padding: 15px 15px !important;
  }

  #wrap .fieldset-legend {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  }
