fieldset.form-wrapper .fieldset-wrapper {
  padding-top: 20px;
}

#person-directory-form td {
  vertical-align: top;
  padding: 15px !important;
}

.page-node-edit .tabs {
  display: none;
}

.page-user-password div.tabs {
    display: none !important;
  } 
